#!/bin/bash
#
# This script includes the most common exports

# set vim as default editor
export EDITOR="vim"

###### set virtualenvwrapper's Python version and WORKON_HOME
# virtualenvwrapper is using the system built-in Python3
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
export WORKON_HOME=~/Workspace/PyEnvs

###### disable 'pip' command if not in a virtual env
export PIP_REQUIRE_VIRTUALENV=true

###### Set pyenv root path and path adjustment
if [ -d "$HOME/.pyenv" ]; then
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/bin:$PATH"
fi